In [84]:
##OBSERVED TREND 1:

##OBSERVED TREND 2:

##OBSERVED TREND 3:

In [85]:
import pandas as pd
import json
from sklearn import preprocessing

In [86]:
data=json.load(open('purchase_data.json'))
dataframe=pd.DataFrame(data)

In [87]:
df_minus_duplicate_names = dataframe.drop_duplicates(subset=["SN"])

In [88]:
#Total Number of Unique Players
totalplayers = dataframe["SN"].nunique()
#Number of Unique Items
uniqueitems = dataframe["Item ID"].nunique()
#Total Revenue
revenue = dataframe["Price"].sum()
#Total Number of Purchases
purchases = len(dataframe)
#Average Purchase Price
avgpurchaseprice = round(revenue/purchases,2)
overview = {"Total Players":totalplayers,"Unique Items":uniqueitems,"Revenue":revenue,"Purchases":purchases,"Average Purchase Price":avgpurchaseprice}
overview_df = pd.Series(overview).to_frame()
overview_df.columns = [" "]
overview_df

Average Purchase Price     2.93
Purchases                780.00
Revenue                 2286.33
Total Players            573.00
Unique Items             183.00

In [89]:
#How many males, females, other?
df_male = dataframe.loc[dataframe["Gender"]=="Male",:]
df_male_minus_duplicates = df_male.drop_duplicates(subset=["SN"])
df_female = dataframe.loc[dataframe["Gender"]=="Female",:]
df_female_minus_duplicates = df_female.drop_duplicates(subset=["SN"])
df_other = dataframe.loc[~dataframe["Gender"].isin(["Male","Female"]),:]
df_other_minus_duplicates = df_other.drop_duplicates(subset=["SN"])

In [90]:
#numbers of each gender
gender_breakdown = {"Males":len(df_male_minus_duplicates), "Females":len(df_female_minus_duplicates), "Others":len(df_other_minus_duplicates)}
gender_df = pd.Series(gender_breakdown).to_frame()
gender_df["% of players"] = [len(df_male_minus_duplicates)/totalplayers*100,len(df_female_minus_duplicates)/totalplayers*100,len(df_other_minus_duplicates)/totalplayers*100]
gender_df.columns=["Player Count","% of all players"]
gender_df

         Player Count  % of all players
Females           100         81.151832
Males             465         17.452007
Others              8          1.396161

In [91]:
#Purchase Count by gender
purchase_count_m = len(df_male)
purchase_count_f = len(df_female)
purchase_count_o = len(df_other)
#Average Purchase Price by gender
avg_price_m = round(df_male["Price"].mean(),2)
avg_price_f = round(df_female["Price"].mean(),2)
avg_price_o = round(df_other["Price"].mean(),2)
#Total Purchase Value by gender
tot_price_m = round(df_male["Price"].sum(),2)
tot_price_f = round(df_female["Price"].sum(),2)
tot_price_o = round(df_other["Price"].sum(),2)

genderlist = ["Male","Female","Other"]
genderpcount = [purchase_count_m,purchase_count_f,purchase_count_o]
genderpprice = [avg_price_m,avg_price_f,avg_price_o]
gendertprice = [tot_price_m,tot_price_f,tot_price_o]

totpricedf = pd.DataFrame({"Gender":genderlist})
totpricedf.set_index("Gender")
totpricedf["Purchase Count"]=genderpcount
totpricedf["Average Purchase"]=genderpprice
totpricedf["Total Purchase Value"] = gendertprice
totpricedf["Normalized Totals"]=""

x = totpricedf[["Total Purchase Value"]].values.astype(float)
scaler=preprocessing.MinMaxScaler()
xscale=scaler.fit_transform(x)
totpricedf["Normalized Totals"]=pd.DataFrame(xscale)
totpricedf.set_index(["Gender"])

,Purchase Count,Average Purchase,Total Purchase Value,Normalized Totals
Gender,,,,
Male,633,2.95,1867.68,1.000000
Female,136,2.82,382.91,0.189509
Other,11,3.25,35.74,0.000000

In [92]:
#breaking down age groups by bins:
#(0-9) (10-14) (15-19) (20-24) ......
bins=[0,10,15,20,25,30,35,40,2000]
labels=['00-09','10-14','15-19','20-24','25-29','30-34','35-39','40+']
agegroups = pd.cut(dataframe["Age"],bins,labels=labels,include_lowest=True,retbins=True,right=False)
dataframe["AgeGroups"]=agegroups[0]

In [93]:

df00to09 = dataframe.loc[dataframe["AgeGroups"]=="00-09",:]
df10to14 = dataframe.loc[dataframe["AgeGroups"]=="10-14",:]
df15to19 = dataframe.loc[dataframe["AgeGroups"]=="15-19",:]
df20to24 = dataframe.loc[dataframe["AgeGroups"]=="20-24",:]
df25to29 = dataframe.loc[dataframe["AgeGroups"]=="25-29",:]
df30to34 = dataframe.loc[dataframe["AgeGroups"]=="30-34",:]
df35to39 = dataframe.loc[dataframe["AgeGroups"]=="35-39",:]
df40up = dataframe.loc[dataframe["AgeGroups"]=="40+",:]

#Purchase Count by age group
pcount00to09 = len(df00to09)
pcount10to14 = len(df10to14)
pcount15to19 = len(df15to19)
pcount20to24 = len(df20to24)
pcount25to29 = len(df25to29)
pcount30to34 = len(df30to34)
pcount35to39 = len(df35to39)
pcount40up = len(df40up)

#Average Purchase Price by gender
avgprice00to09 = round(df00to09["Price"].mean(),2)
avgprice10to14 = round(df10to14["Price"].mean(),2)
avgprice15to19 = round(df15to19["Price"].mean(),2)
avgprice20to24 = round(df20to24["Price"].mean(),2)
avgprice25to29 = round(df25to29["Price"].mean(),2)
avgprice30to34 = round(df30to34["Price"].mean(),2)
avgprice35to39 = round(df35to39["Price"].mean(),2)
avgprice40up = round(df40up["Price"].mean(),2)
pprice = pd.DataFrame([avgprice00to09,avgprice10to14,avgprice15to19,avgprice20to24,avgprice25to29,avgprice30to34,avgprice35to39,avgprice40up])

#Total Purchase Value by gender
totprice00to09 = round(df00to09["Price"].sum(),2)
totprice10to14 = round(df10to14["Price"].sum(),2)
totprice15to19 = round(df15to19["Price"].sum(),2)
totprice20to24 = round(df20to24["Price"].sum(),2)
totprice25to29 = round(df25to29["Price"].sum(),2)
totprice30to34 = round(df30to34["Price"].sum(),2)
totprice35to39 = round(df35to39["Price"].sum(),2)
totprice40up = round(df40up["Price"].sum(),2)

tprice = pd.DataFrame([totprice00to09,totprice10to14,totprice15to19,totprice20to24,totprice25to29,totprice30to34,totprice35to39,totprice40up])

In [94]:
agegroupdata = pd.DataFrame(dataframe["AgeGroups"].value_counts()).reset_index().sort_values("index",ascending=True)
#agegroupdata.columns = ["AgeGroups","Purchase Count","Average Purchase Price","Total Purchase Price","Normalized Totals"]
agegroupdata.columns = ["AgeGroups","Purchase Count"]
agegroupdata["Average Purchase Price"] = pprice
agegroupdata["Total Purchase Price"] = tprice
agegroupdata["Normalized Totals"] =""

x = agegroupdata[["Total Purchase Price"]].values.astype(float)
scaler=preprocessing.MinMaxScaler()
xscale=scaler.fit_transform(x)
agegroupdata["Normalized Totals"]=pd.DataFrame(xscale)
agegroupdata.set_index("AgeGroups")

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
AgeGroups,,,,
00-09,28,2.84,119.40,0.342241
10-14,35,3.08,197.25,1.000000
15-19,133,2.77,96.95,0.155132
20-24,336,2.98,83.46,0.070971
25-29,125,2.91,386.42,0.046702
30-34,64,2.91,978.77,0.032118
35-39,42,2.96,370.33,0.359635
40+,17,3.16,53.75,0.000000

In [95]:
#Age breakdown
df_minus_duplicate_names = dataframe.drop_duplicates(subset=["SN"])
output_age_groups = pd.DataFrame(df_minus_duplicate_names["AgeGroups"].value_counts()).reset_index().sort_values("index").set_index("index")
output_age_groups.columns = ["Count"]
output_age_groups["% of players"] = output_age_groups["Count"]/totalplayers*100
output_age_groups #OUTPUT

       Count  % of players
index
00-09     19      3.315881
10-14     23      4.013962
15-19    100     17.452007
20-24    259     45.200698
25-29     87     15.183246
30-34     47      8.202443
35-39     27      4.712042
40+       11      1.919721

In [96]:
#TOP SPENDERS
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#  * SN
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value


groupeddf = dataframe.groupby(["SN"]).Price.sum().reset_index()
sortedspenders = groupeddf.sort_values("Price", ascending=False).head()
top5spendersnames = sortedspenders["SN"].values.tolist()
top5spendersdf = dataframe[dataframe["SN"].isin(top5spendersnames)]
top5spendersdf.groupby(["SN"]).Price.sum()
top5purchasecount = top5spendersdf["SN"].value_counts().reset_index()#top5purchasecount
top5totalvalue = top5spendersdf.groupby(["SN"]).Price.sum().reset_index()
sortedtop5totalvalue = top5totalvalue.sort_values("Price", ascending=False) #top5totalvalue
topspendersoutputdf = pd.DataFrame({"SN": top5spendersnames})
topspendersoutputdf["Purchase Count"] = top5purchasecount["SN"]
output_top_spenders = pd.merge(topspendersoutputdf,sortedtop5totalvalue,on="SN")
output_top_spenders["Average Purchase Price"] = round(output_top_spenders["Price"]/output_top_spenders["Purchase Count"],2)
output_top_spenders.set_index(["SN"])

             Purchase Count  Price  Average Purchase Price
SN
Undirrala66               5  17.06                    3.41
Saedue76                  4  13.56                    3.39
Mindimnya67               4  12.74                    3.18
Haellysu29                3  12.73                    4.24
Eoda93                    3  11.58                    3.86

In [97]:
itemcounts = dataframe["Item ID"].value_counts().reset_index()
itemcounts.columns= ["Item ID","Count"]

In [98]:
#**Most Popular Items**

#* Identify the 5 most popular items by purchase count, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

itemgroup = dataframe.groupby(["Item Name","Item ID", "Price"]).count().reset_index()
sorteditemgroup = itemgroup.sort_values("SN",ascending=False).head()
top5df = dataframe[dataframe["Item ID"].isin(sorteditemgroup["Item ID"])]
top5itemsdf= top5df["Item ID"].value_counts().reset_index()
top5itemsdf.columns=["Item ID","Count"]
grouptop5df = top5df.groupby(["Item ID"]).Price.sum().reset_index().sort_values("Price",ascending=False)
grouptop5df.columns=["Item ID","Total Purchase Value"]
outputpart1 = sorteditemgroup[["Item ID","Item Name","Price"]]
outputpart2 = pd.merge(outputpart1,top5itemsdf,on="Item ID")
output_most_popular = pd.merge(outputpart2,grouptop5df,on="Item ID")
output_most_popular.set_index(["Item ID"]) #FINAL RESULT

,Item Name,Price,Count,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
34,Retribution Axe,4.14,9,37.26
31,Trickster,2.07,9,18.63
13,Serenity,1.49,9,13.41

In [99]:

#* Identify the 5 most profitable items by total purchase value, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

itemprofit=dataframe.groupby(["Item ID","Item Name","Price"]).Price.sum()
profitdf=pd.DataFrame(itemprofit)
profitdf.columns=["Total Purchase Value"]
profitdf = profitdf.reset_index()
sortprofit=profitdf.sort_values("Total Purchase Value",ascending=False).head()
output_most_profit = pd.merge(sortprofit,itemcounts,on="Item ID",how="inner")
output_most_profit.set_index(["Item ID"]) #FINAL RESULT

                          Item Name  Price  Total Purchase Value  Count
Item ID
34                  Retribution Axe   4.14                 37.26      9
115      Spectral Diamond Doomblade   4.25                 29.75      7
32                          Orenmir   4.95                 29.70      6
103                  Singed Scalpel   4.87                 29.22      6
107       Splitter, Foe Of Subtlety   3.61                 28.88      8